<div class="mainform">
<mat-form-field appearance="legacy" style="max-width:150px;">
  <mat-label>Département</mat-label>
  <mat-select [(ngModel)]="selected_department" name="department" (ngModelChange)="refresh_url()">
    <mat-option *ngFor="let department of departments" [value]="department.value">
      {{department.name}}
    </mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field appearance="legacy" style="max-width:150px;font-size: medium;">
  <mat-label>Promotion</mat-label>
  <mat-select [(ngModel)]="selected_promo" name="promo" (ngModelChange)="refresh_url()">
    <mat-option *ngFor="let promo of promos" [value]="promo.value">
      {{promo.name}}
    </mat-option>
  </mat-select>
</mat-form-field>


<br><br>

<div>{{url}}</div>

<br><br>
<button mat-button mat-raised-button
        id="cmdOpen"
        (click)="open()">
  Ouvrir
</button>

<button mat-button mat-raised-button
        id="cmdEdit"
        (click)="copy()">
  Copier
</button>



<button mat-button mat-raised-button
        (click)="share()"
        id="cmdShare">
  Partager
</button>





</div>
