/* You can add global styles to this file, and also import other style files */


body
  text-align: center
  background: black
  color: lightgrey
  padding: 10px

a
  color: lightblue
  font-style: normal
  font-variant: normal
  text-underline: none

mat-form-field
  font-size: medium
  margin: 10px

button
  width: 100px
  margin: 5px !important

.wrap-list
  display: flex
  flex-wrap: wrap
  justify-content: center

.mainform
  padding: 10px

mat-slider
  width: 150px


h2
  font-size: medium
  margin-top: 30px

.app-slider
  width: auto
  display: inline-block
  margin-left: 20px

.url_link
  color: deeppink
  font-size: large
  border: deeppink solid 1px
  width: fit-content
  display: inline-block
  padding: 10px
  border-radius: 12px
  margin: 15px
